.tab
{
    display: flex;
    justify-content: center;
    margin:10px;
    border:1px solid black;
}

.add
{
    padding:20px;
    row-gap: 10px;
    border :1px solid black;
    margin:10px;
}
.search
{
    margin:10px;
    width:400px;
}
