
    <nav>
        <h1>Toy Store</h1>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="#">ABOUT</a></li>
          <li>
            <form action="/register" method="get">
            <button type="submit" class="btn btn-outline-primary">-ĀḌMIN-REGISTER</button>
          </form>
          </li>
          <LI>
            <form action="/login" method="get">
            <button type="submit" class="btn btn-outline-success">ADMIN-LOGIN</button>
          </form>
          </LI>

        </ul>
      </nav>
      
    
